# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

submodules/include/
submodules/lib/
submodules/cache/gmp-6.3.0/
submodules/cache/mpfr-4.2.2/
build/
.cache/
.venv/
.vscode/
test/
# docs/*
!docs/.gitkeep
!docs/pages/
!docs/pages/**